<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>bocustomize</name>
	<displayName><![CDATA[BackOffice customize]]></displayName>
	<version><![CDATA[2.0.0]]></version>
	<description><![CDATA[This module helps you to customize BackOffice]]></description>
	<author><![CDATA[cdigruttola]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
